html.dark body {
        background-color: #0b0c0f;
    }

    /* Container principal */
    html.dark main {
        background-color: #0b0c0f;
    }

    html.dark main > div {
        background-color: #0b0c0f;
    }

    /* Header */
    html.dark header {
        background-color: #121316 !important;
        border-bottom: 1px solid #202126;
    }

    html.dark header span {
    color: #ffffff !important;
    }

    /* Textos */
    html.dark h2,
    html.dark label {
        color: #f5f5f5;
    }

    html.dark p {
        color: #d1d1d1;
    }

    html.dark h2 span:first-child {
    color: #111318 !important;
    background-color: #e5e7eb !important;
    }


    /* Texto das etapas */
    html.dark h2 span:last-child {
    color: #ffffff !important;
    }

    /* Cards */
    html.dark section,
    html.dark .bg-white {
        background-color: #121316 !important;
        border-color: #24262b !important;
    }

    /* Inputs */
    html.dark input,
    html.dark select {
        background-color: #121316 !important;
        border-color: #292b31 !important;
        color: #f5f5f5 !important;
    }

    html.dark input::placeholder {
        color: #777b84;
    }

    /* Botões de pagamento */
    html.dark section button {
        background-color: #17181c;
        border-color: #292b31;
        color: #eeeeee;
    }

    html.dark section button:hover {
        background-color: #202126;
    }

    /* Resumo da compra */
    html.dark .shadow-sm {
        background-color: #121316 !important;
        border-color: #24262b !important;
        box-shadow: none;
    }

    /* Áreas cinzas */
    html.dark .bg-gray-100 {
        background-color: #17181c !important;
    }

    html.dark .bg-gray-50 {
        background-color: #17181c !important;
    }

    /* Linhas */
    html.dark .border-gray-200,
    html.dark .border-gray-100 {
        border-color: #24262b !important;
    }

    /* Textos cinza */
    html.dark .text-gray-900 {
        color: #f5f5f5 !important;
    }

    html.dark .text-gray-800 {
        color: #eeeeee !important;
    }

    html.dark .text-gray-600 {
        color: #b5b7bd !important;
    }

    html.dark .text-gray-500 {
        color: #858991 !important;
    }

    html.dark .text-gray-400 {
        color: #6f737c !important;
    }

    /* Footer */
    html.dark footer {
        border-color: #202126 !important;
    }

    /* Botão finalizar */
    html.dark button.bg-gray-900 {
        background-color: #f5f5f5 !important;
        color: #111318 !important;
    }

    html.dark button.bg-gray-900:hover {
        background-color: #ffffff !important;
    }

     /* Botão Aplicar cupom no Dark Mode */
    html.dark button {
        color: #ffffff;
    }
